<div class="container">
  <div class="section">
    <form [formGroup]="form">
      <div class="field">
        <label class="label">Nome</label>
        <div class="control has-icons-left">
          <input
            class="input"
            placeholder="Nome do aluo"
            formControlName="name"
            [ngClass]="{'is-danger': form.controls.name.errors && form.controls.name.dirty}"
          >
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <div *ngIf="form.controls.name.dirty">
          <p
            class="help is-danger"
            *ngIf="form.controls.name.getError('maxlength')"
          >
            Máximo de 50 caracteres
          </p>
          <p
            class="help is-danger"
            *ngIf="form.controls.name.getError('required')"
          >
            Campo Obrigatório
          </p>
        </div>
      </div>

      <nav class="panel mh scroll" formArrayName="courses">
        <div class="panel-heading is-flex is-justify-content-space-between is-align-items-center">
            Cursos
          <p class="buttons">
            <button class="button is-info is-outlined" (click)="enrollOnCourse()">
              <span>Matricular-se</span>
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </p>
        </div>
        <ng-container *ngFor="let courseForm of courses.controls; let i = index">
          <ng-container [formGroupName]="i">
            <a class="panel-block is-active">
              <button class="button is-danger is-inverted mr-3" (click)="remove(i, courseForm.value.code)">
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
              <a [routerLink]="'/courses/'+ courseForm.value.code">
                {{courseForm.value.description }}
              </a>
            </a>
          </ng-container>
        </ng-container>
      </nav>

      <div class="mt-3">
        <app-button (saveEventEmitter)="save()"></app-button>
      </div>
    </form>
  </div>
</div>

<app-enroll-on-courses *ngIf="showEnrollStudent" (closeEventEmitter)="enrollOnCourse()" (saveEventEmitter)="saveNewCourses($event)">
</app-enroll-on-courses>
